{% extends 'music/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}
{% block body %}

{%if curSong %}
<script>
window.onload = function(){
    var url  = '{{ curSong.audio_file.url }}';
    var audio = document.getElementById('audio');
    var source = document.getElementById('asource');
    var sname = document.getElementById('player_sname');
    var aname = document.getElementById('player_aname');
    sname.innerText='{{ curSong.song_title }}';
    aname.innerText='Album: '+'{{ curSong.album.album_title }}';
    source.src = url;
    audio.load();
    audio.play();
}
</script>
{% endif %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:detail' album.id %}">
                        {% if album.album_logo %}
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'music:detail' album.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'music:create_song' album.id %}">Add New Song</a></li>
                <li role="presentation"><a href="{% url 'music:album_update' album.id %}">Update Album</a></li>

            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in song_list %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    <a href="{% url 'music:playAlbum' album.id forloop.counter0 %}">
                                        <button type="button" class="btn btn-success btn-xs" >
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% url 'music:delete_song' album.id song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
    <div id="player" style="border-bottom:3px solid #dfd4ce;border-top: 3px solid #dfd4ce;padding:0 5%;position:fixed;bottom:0;width:100%;">

        <audio id="audio" controls="controls" style="margin:10px;width:500px">
            <source id="asource" src=""/>
            Your Browser Does Not Support the audio format
        </audio><br>
         <a href="{% url 'music:prevAlbum' album.id%}">
            <button type="button">Previous</button>
        </a>
        <a href="{% url 'music:nextAlbum' album.id%}">
            <button type="button" onclick="">Next</button>
        </a><div id="player_sname"></div>
        <div id="player_aname"></div>
    </div>
</div>
{% endblock %}
