{% extends 'music/base.html' %}
{% block title %}All Songs{% endblock %}
{% block playlist_active %}active{% endblock %}

{% block body %}
    {%if curSong %}
    <script>
    window.onload = function(){
        var url  = '{{ curSong.audio_file.url }}';
        var audio = document.getElementById('audio');
        var source = document.getElementById('asource');
        var sname = document.getElementById('player_sname');
        var aname = document.getElementById('player_aname');
        sname.innerText='{{ curSong.song_title }}';
        aname.innerText='Album: '+'{{ curSong.album.album_title }}';
        source.src = url;
        audio.load();
        audio.play();
    }
    </script>
    {% endif %}
    <div class="container-fluid songs-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'music:playlist_songs' playlist_id 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'music:playlist_songs' playlist_id 'favorites' %}">Favorites</a></li>
            </ul>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if song_list %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song Title</th>
                                <th>Artist</th>
                                <th>Audio</th>
                                <th>Favorite</th>
                                {% if request.POST %}
                                {% else %}
                                    <th>Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in song_list %}
                                <tr>
                                    <td>{{ song.song_title }}</td>
                                    <td>{{ song.album.artist }}</td>
                                    <td>
                                        <a href="{% url 'music:playplaylist' playlist_id filter_by forloop.counter0 %}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                    </td>
                                    {% if request.POST %}
                                    {% else %}
                                    <td>
                                        <form action="{% url 'music:remove_song' song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Remove From Playlist
                                        </button>
                                    </form>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                     {% else %}
                        NO SONG ADDED !
                      {% endif %}
                </div>
            </div>
        </div>

    </div>
        {% if curSong %}
    <div id="player" style="background:#FFFFFF;border-bottom:3px solid #dfd4ce;border-top: 3px solid #dfd4ce;padding:0 5%;position:fixed;bottom:0;width:100%;">
           <a href="{% url 'music:prevplaylist' playlist_id filter_by %}">
            <button type="button">Previous</button>
        </a>
        <audio id="audio" controls="controls" style="margin:10px">
            <source id="asource" src=""/>
            Your Browser Does Not Support the audio format
        </audio>
         <a href="{% url 'music:nextplaylist' playlist_id filter_by %}">
            <button type="button" onclick="">Next</button>
        </a>
         </a><div id="player_sname"></div>
        <div id="player_aname"></div>
    </div>
        {% endif %}
</div>
{% endblock %}
